.div {
  border: 10px solid black;
  padding: 20px;
}

.test {
  border-color: red;
}

.red {
  color: red;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.normal {
  font-style: normal;
  font-weight: normal;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

/*
 1 создать классы для фона
*/
.bg-red {
  background-color: red;
}

.bg-green {
  background-color: green;
}
